<div style="background-color: #A6B1B6; height: 100vh;">
    <div style="background-color: #A6B1B6; margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
        <div class="text-center">
            <span class="material-icons" style="font-size: 200px;">sentiment_dissatisfied</span>
            <h4 class="mt-4">Error 404</h4>
            <p class="mt-2" >Lo sentimos, no pudimos encontrar la página solicitada</p>
            <button (click)="goBack()" class="btn btn-primary">Regresar</button> 
        </div>
    </div>
</div>
