<app-navbar></app-navbar>

<div class="background mt-3">

    <div class="main-panel bg-white mt-5 p-3">
        <div class="text-center">
            <h2 class="mt-2 font-italic">Administracion de agenda</h2>
        </div>
        
        <hr>
    
        <div class="row mb-3">
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card">
                    <div class="card-header bg-dark">
                        <a routerLink="/administracion-salones" class="stretched-link">
                            <h5 class="text-white">Salones</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="material-icons" style="font-size: 50px;">meeting_room</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card">
                    <div class="card-header bg-dark">
                        <a routerLink="/administracion-cursos" class="stretched-link">
                            <h5 class="text-white">Cursos</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="material-icons" style="font-size: 50px;">class</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card">
                    <div class="card-header bg-dark">
                        <a routerLink="/administracion-horarios" class="stretched-link">
                            <h5 class="text-white">Horarios</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="material-icons" style="font-size: 50px;">schedule</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card">
                    <div class="card-header bg-dark">
                        <a routerLink="/registro-por-salon" class="stretched-link">
                            <h5 class="text-white">Registro por salón</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="material-icons" style="font-size: 50px;">view_list</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
